# Compiled Object files, Static and Dynamic libs (Shared Objects)

# Architecture specific extensions/prefixes

# Folders
.vagrant/
.idea/
.idea/vcs.xml
gpdb/vendor/
notes

# Files
.DS_Store
UAA.token
